extends layout

block content
  .page
    nav
      span logo
    main
      h1= title
      p Welcome to #{title}
      #promo
        .promo-title It is an amazing application! Haydi Do you want sign up?
        button.answer.answer-yes Yes!
        button.answer.answer-no No?
